* {
  box-sizing: border-box;
  margin: 0;
  padding: 0;
}
a {
  text-decoration: none;
  color: inherit;
  white-space: nowrap;
}
html {
  height: 100vh;
}
body {
  height: 100%;
}

li {
  list-style: none;
}

div.main {
  height: 100%;
  background-color: #e7e5e5;
  border-radius: 15px;
}

div.main header {
  display: flex;
  justify-content: space-between;
}

div.main header i {
  font-size: 1.2rem;
  margin: 10px 15px;
  color: #4e4e4e;
}
div.main header i:hover {
  color: #858585;
  cursor: pointer;
}

div.body {
  height: 90%;
  color: #4e4e4e;
  display: flex;
  align-items: center;
  justify-content: center;
  white-space: nowrap;
}

div.body section {
  width: 90%;
  height: 90%;
  background-color: #a7cba2;
  border-radius: 15px;
  display: flex;
  flex-direction: column;
  align-items: center;
  /* 가운대로 할지 왼쪽끝으로할지 생각해보자.. */
  /* align-items: start; */
}

div.list label {
  margin: 0 30px;
  font-size: 1.8rem;

  display: flex;
  justify-content: center;
}
/* 냉장,냉동,실외 그룹 */
div.btn-group {
  display: flex;
  /* border:1px solid blue; */
}
/* 냉장, 냉동, 실외 각 버튼 */
div.btn-group .button {
  /* border : 1px solid black; */
  background-color: #87c792;
  border: none;
  color: white;
  padding: 16px 36px;
  text-align: center;
  text-decoration: none;

  font-size: 1.6rem;
  cursor: pointer;
  margin-top: 20px;
}

div.btn-group .button:hover {
  background-color: #3e8e41;
}
div.list2 {
  display: flex;
  flex-direction: column;
  margin-top: 20px;
}
div.list2 label {
  /* border:1px solid red; */
  margin-bottom: 10px;

  justify-content: center;
}
div.list2 input {
  text-align: center;
  padding: 20px;
  outline: none;
  font-weight: 900;
}

section button {
  padding: 10px 30px 10px 30px;
  background-color: white;
  color: #4e4e4e;
  font-size: 2rem;

  border: none;
  box-shadow: 1px 1px 1px black;
}
section button:hover {
  background-color: #bbb;
}

section button.save:active {
  box-shadow: #422800 2px 2px 0 0;
  transform: translate(1px, 1px);
}

div.body section h1 {
  font-size: 2rem;
  margin: 15px;
  text-align: center;
}

section div.search input {
  padding: 20px;

  width: 500px;
  outline: none;
  text-align: center;
}
section div.search i {
  cursor: pointer;
  position: relative;
  right: 30px;
}
section button.btn_self {
  width: 80%;
  height: 10px;
  display: flex;
  align-items: center;
  justify-content: center;
}
section button.save {
  text-decoration: none;

  border: 2px solid;
  border-radius: 10px;

  margin: 1rem;
  box-shadow: 1px 1px 0px 0px, 2px 2px 0px 0px, 3px 3px 0px 0px, 4px 4px 0px 0px, 5px 5px 0px 0px;
}

div.control {
  font-size: 30px;
  background-color: #f4f4f4;
  border-radius: 10px;
  height: 10%;
}

div.control ul {
  display: flex;
  height: 100%;
  justify-content: space-around;
  align-items: center;
}

div li.add {
  font-size: 55px;
  margin-bottom: 4rem;
  color: #a7cba2;
}

div li {
  font-size: 1.5rem;
  color: #4e4e4e;
}

div li:hover {
  color: #858585;
}

section ul li {
  color: #4e4e4e;
  font-size: 8rem;
  margin: 20px 40px;
  width: 20%;
  display: flex;
  flex-direction: column;
  align-items: center;
}
