* {
  box-sizing: border-box;
  margin: 0;
  padding: 0;
}
a {
  text-decoration: none;
  color: inherit;
  white-space: nowrap;
}

html {
  height: 100vh;
}
body {
  height: 95%;
}

li {
  list-style: none;
}

div.main {
  height: 100%;
  background-color: #e7e5e5;
  border-radius: 15px;
}

div.main header {
  display: flex;
  justify-content: space-between;
}

div.main header i {
  font-size: 1.2rem;
  margin: 10px 15px;
  color: #4e4e4e;
}
div.main header i:hover {
  color: #858585;
  cursor: pointer;
}

div.body {
  height: 90%;
  color: #4e4e4e;
  display: flex;
  align-items: center;
  justify-content: center;
  white-space: nowrap;
}

div.body section {
  width: 90%;
  height: 90%;
  background-color: #a7cba2;
  border-radius: 15px;
  display: flex;
  flex-direction: column;
}

section button {
  font-size: 12px;
  text-decoration: none;
  color: #4e4e4e;
  cursor: pointer;
  border: 2px solid;
  border-radius: 10px;
  padding: 1em 2em;
  margin-left: 0.8rem;
  box-shadow: 1px 1px 0px 0px, 2px 2px 0px 0px, 3px 3px 0px 0px, 4px 4px 0px 0px, 5px 5px 0px 0px;
}

button:hover {
  background-color: #fff;
}

button:active {
  box-shadow: #422800 2px 2px 0 0;
  transform: translate(1px, 1px);
}

div.control {
  font-size: 30px;
  background-color: #f4f4f4;
  border-radius: 10px;
  height: 10%;
}

div.control ul {
  display: flex;
  height: 100%;
  justify-content: space-around;
  align-items: center;
  cursor: pointer;
}

div li.add {
  font-size: 55px;
  margin-bottom: 4rem;
  color: #a7cba2;
}

div li {
  font-size: 1.5rem;
  color: #4e4e4e;
}

div li:hover {
  color: #858585;
}
.btn {
  display: flex;
}

section ul li {
  color: #4e4e4e;
  font-size: 6rem;
  /* margin: 20px 40px; */
  /* width: 20%; */
  /* display: flex; */
  /* flex-direction: column; */
  /* align-items: center */
}

ul li i {
  margin: 1rem 1rem 0 1rem;
}

/* .btn {
    border: 1px solid black;
} */
